pipeline/Pausededicatedpool_simple.json
{
	"name": "Pausededicatedpool_simple",
	"properties": {
		"description": "Based on the desired state and the current status, only the following two combinations will require a change in state: Paused->Resume or Online->Pause\nto resume : \n@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Synapse/workspaces/',pipeline().parameters.WorkspaceName,'/sqlPools/',activity('CheckState').output.name,'/resume?api-version=2021-06-01-preview')",
		"activities": [
			{
				"name": "Get_Status",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Synapse/workspaces/',pipeline().parameters.WorkspaceName,'/sqlPools/',pipeline().parameters.SQLPoolName,'?api-version=2021-06-01-preview')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com/"
					}
				}
			},
			{
				"name": "Check if running",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get_Status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get_Status').output.properties.status,'Active')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Pause",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Synapse/workspaces/',pipeline().parameters.WorkspaceName,'/sqlPools/',activity('Get_Status').output.name,'/pause?api-version=2021-06-01-preview')",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ResourceGroup": {
				"type": "string",
				"defaultValue": "paakossynapserg"
			},
			"SubscriptionID": {
				"type": "string",
				"defaultValue": "96baafb0-41f2-4142-aaee-7bbb880d40f9"
			},
			"WorkspaceName": {
				"type": "string",
				"defaultValue": "paakossynapse"
			},
			"SQLPoolName": {
				"type": "string",
				"defaultValue": "paaokssqlpool"
			},
			"PauseorResume": {
				"type": "string"
			}
		},
		"folder": {
			"name": "ManageAzureSynapseAnalytics"
		},
		"annotations": []
	}
}