pipeline/PauseAzCapacityState.json
{
	"name": "PauseAzCapacityState",
	"properties": {
		"description": "Start or Stop capacity ",
		"activities": [
			{
				"name": "Get Capacity Info",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "https://management.azure.com/subscriptions/@{pipeline().parameters.subscription}/resourceGroups/@{pipeline().parameters.resourcegroup}/providers/Microsoft.Fabric/capacities/@{pipeline().parameters.capacity}?api-version=2022-07-01-preview",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com"
					}
				}
			},
			{
				"name": "Check if Active",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Capacity Info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Capacity Info').output.properties.state,'Active')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Pause Capacity",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"url": {
									"value": "https://management.azure.com/subscriptions/@{pipeline().parameters.subscription}/resourceGroups/@{pipeline().parameters.resourcegroup}/providers/Microsoft.Fabric/capacities/@{pipeline().parameters.capacity}/suspend?api-version=2022-07-01-preview",
									"type": "Expression"
								},
								"body": {
									"value": "{\"Starting\":\"Capacity\"}",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"subscription": {
				"type": "string",
				"defaultValue": "cbb0b01f-f99e-4890-891a-c1dccc5563e8"
			},
			"resourcegroup": {
				"type": "string",
				"defaultValue": "swedfabricrg01"
			},
			"capacity": {
				"type": "string",
				"defaultValue": "swedcefabric01"
			}
		},
		"folder": {
			"name": "ManageAzCapacityFabric"
		},
		"annotations": [],
		"lastPublishTime": "2024-01-25T17:21:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}