pipeline/ScaleAzCapacityState_copy1.json
{
	"name": "ScaleAzCapacityState_copy1",
	"properties": {
		"description": "Start or Stop capacity ",
		"activities": [
			{
				"name": "Get Capacity Size",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "https://management.azure.com/subscriptions/@{pipeline().parameters.subscription}/resourceGroups/@{pipeline().parameters.resourcegroup}/providers/Microsoft.Fabric/capacities/@{pipeline().parameters.capacity}?api-version=2022-07-01-preview",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com"
					}
				}
			},
			{
				"name": "Check if Paused",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Capacity Size",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Capacity Size').output.properties.state,'Active')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Change Size",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "PATCH",
								"url": {
									"value": "@concat('/subscriptions/', pipeline().parameters.subscription, '/resourceGroups/', pipeline().parameters.resourcegroup, '/providers/Microsoft.Fabric/capacities/', pipeline().parameters.capacitysize, '?api-version=2022–07–01-preview')\n",
									"type": "Expression"
								},
								"body": {
									"value": "@json(concat('{\"sku\":{\"name\":\"',pipeline().parameters.capacitysize,'\",\"tier\":\"Fabric\"}}'))",
									"type": "Expression"
								},
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"subscription": {
				"type": "string",
				"defaultValue": "9c655958-f8a7-4cb4-975d-2e65bfab228e"
			},
			"resourcegroup": {
				"type": "string",
				"defaultValue": "fabrickpaakos"
			},
			"capacity": {
				"type": "string",
				"defaultValue": "capacityfabricpaakos"
			},
			"capacitysize": {
				"type": "string",
				"defaultValue": "F32"
			}
		},
		"folder": {
			"name": "ManageAzCapacityFabric"
		},
		"annotations": [],
		"lastPublishTime": "2024-01-25T17:21:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}